<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">
<head th:replace="~{base :: head('Subcategorias | Visualização')}"></head>
<body>

<nav th:replace="~{base :: navbar}"></nav>

<div class="container mt-3">

    <h1>Editar Subcategoria</h1>
    <hr>

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <form th:object="${subcategoriaDto}" action="/subcategoria/editar" method="post" class="card-body">

                    <div class="mb-3">
                        <label class="form-label">Id</label>
                        <input readonly th:field="*{id}" th:value="*{id}" class="form-control" th:errorClass="is-invalid"/>
                        <div th:errors="*{id}" th:class="error"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nome da Subcategoria</label>
                        <input th:field="*{nome}" th:value="*{nome}" class="form-control" th:errorClass="is-invalid"/>
                        <div th:errors="*{nome}" th:class="error"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Categoria</label>
                        <br>
                        <select id="categoria2_form" name="categoria2_form" th:field="*{categoria}" class="form-select" />
                            <option th:value="0">Selecione uma categoria</option>
                            <option th:each="cat : ${categorias}" th:value="${cat.id}" th:text="${cat.nome}"
                                    th:selected="(${cat.nome} == *{categoria})"></option>
                        </select>
                        <div th:errors="*{categoria}" th:class="error"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>