<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">
<head th:replace="~{base :: head('Categorias | Visualização')}"></head>
<body>

<nav th:replace="~{base :: navbar}"></nav>

<div class="container mt-3">

    <h1>Editar despesa</h1>
    <hr>

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <form th:object="${despesaPutRequestForm}" action="/editar-despesa" method="post" class="card-body">

                    <div class="mb-3">
                        <label class="form-label">Id</label>
                        <input readonly th:field="*{id}" th:value="*{id}" class="form-control" th:errorClass="is-invalid"/>
                        <div th:errors="*{id}" th:class="error"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descrição da despesa</label>
                        <input th:field="*{descricao}" th:value="*{descricao}" class="form-control" th:errorClass="is-invalid"/>
                        <div th:errors="*{descricao}" th:class="error"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Valor gasto</label>
                        <input th:field="*{valorGasto}" class="form-control" th:errorClass="is-invalid">
                        <div th:errors="*{valorGasto}" th:class="error"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Data da despesa</label>
                        <input th:field="*{dataDespesa}" type="date" class="form-control" th:errorClass="is-invalid">
                        <div th:errors="*{dataDespesa}" th:class="error"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Categoria</label>
                        <br>
                        <select id="categoria_form" name="categoria_form" class="form-select">
                            <option th:value="0">Selecione uma categoria</option>
                            <option th:each="cat : ${categorias}" th:value="${cat.id}" th:text="${cat.nome}"
                                    th:selected="(${cat.nome} == *{categoria})"></option>
                        </select>
                        <div th:errors="*{categoria}" th:class="error"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>