<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">
<head th:replace="~{base :: head('Despesas | Cadastro')}"></head>
<body>

<nav th:replace="~{base :: navbar}"></nav>

<div class="container mt-3">

    <h1>Criar nova despesa</h1>
    <hr>

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <form th:object="${despesaPostRequestForm}" action="/despesa/cadastrar" method="post" class="card-body">

                    <div class="mb-3">
                        <label class="form-label">Descrição da despesa</label>
                        <input th:field="*{descricao}" class="form-control" th:errorClass="is-invalid"/>
                        <div th:errors="*{descricao}" th:class="error"></div>
                    </div>
                    <label class="form-label">Valor gasto</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">R$</span>
                        <input th:field="*{valorGasto}" type="number" pattern="[0-9]+,[0-9]{0,2}" step="0.01"
                               class="form-control" th:errorClass="is-invalid">
                        <div th:errors="*{valorGasto}" th:class="error"></div>
                    </div>
                    <div class="row mb-3">
                        <label class="form-label">Credor</label>
                        <div class="form-group col-4">
                            <input th:field="*{credor}" type="number" id="credor-id" class="form-control" placeholder="ID">
                        </div>
                        <div class="form-group col-8">
                            <input id="credor-nome" class="form-control">
                            <div th:errors="*{credor}" th:class="error"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Data da despesa</label>
                        <input th:field="*{dataDespesa}" type="date" class="form-control" th:errorClass="is-invalid">
                        <div th:errors="*{dataDespesa}" th:class="error"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Categoria</label>
                        <br>
                        <select th:field="*{categoria}" class="form-select">
                            <option selected th:value="0">Selecione uma opção</option>
                            <option th:each="cat : ${categorias}" th:value="${cat.id}" th:text="${cat.nome}"></option>
                        </select>
                        <div th:errors="*{categoria}" th:class="error"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Subcategoria</label>
                        <br>
                        <select th:field="*{subcategoria}" class="form-select">
                            <option selected th:value="0">Selecione uma opção</option>
                            <option th:each="sub : ${subcategorias}" th:value="${sub.id}"
                                    th:text="${sub.nome}"></option>
                        </select>
                        <div th:errors="*{subcategoria}" th:class="error"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/main.js"></script>

</body>
</html>