<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <title>HomePage</title>
</head>
<body>

<nav class="navbar navbar-expand navbar-dark bg-secondary">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
    </ul>
</nav>

<div class="container mt-3">
    <h1>Lista de despesas</h1>
    <hr>
    <div class="row">
        <div class="col">
            <a class="btn btn-success" href="/nova-despesa">Novo</a>
        </div>
    </div>
    <table class="table table-striped table-bordered mt-3">
        <thead class="table-dark">
        <tr>
            <th class="col-1">#</th>
            <th>Descrição</th>
            <th class="col-2">Data da despesa</th>
            <th class="col-1">Valor gasto</th>
            <th class="col-1">Excluir?</th>
            <th class="col-1">Alterar?</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="despesa : ${despesas}">
            <td th:text="${despesa.id}"></td>
            <td th:text="${despesa.descricao}"></td>
            <td th:text="${#temporals.format(despesa.dataDespesa, 'dd/MM/yyy')}"></td>
            <td th:text="'R$ ' + ${#numbers.formatDecimal(despesa.valorGasto, 1, 'POINT', 2, 'COMMA')}"></td>
            <td>
                <form th:object="${despesa}" th:action="@{/delete/{id}(id=${despesa.id})}" method="post">
                    <input class="btn btn-danger" type="submit" value="Excluir"/>
                </form>
            </td>
            <td>
                <a class="btn btn-primary" th:href="@{/visualizar/{id}(id=${despesa.id})}">Editar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   th:href="@{/?page=0}">Primeira</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:if="${paginacao.getPageNumber > 0}"
                   th:href="@{/(page=${paginacao.getPageNumber - 1})}">Anterior</a>
            </li>

            <li class="page-item">
                <a class="page-link"
                   th:if="${paginacao.getPageNumber > 0}"
                   th:text="${paginacao.getPageNumber - 1} + 1"
                   th:href="@{/(page=${paginacao.getPageNumber - 1})}">-1</a>
            </li>
            <li class="page-item active">
                <span class="page-link"
                      th:text="${paginacao.getPageNumber} + 1">Atual</span>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:if="${(paginacao.getPageNumber + 1) < despesas.getTotalPages}"
                   th:text="${paginacao.getPageNumber + 1} + 1"
                   th:href="@{/(page=${paginacao.getPageNumber + 1})}">+1</a>
            </li>

            <li class="page-item">
                <a class="page-link"
                   th:if="${(paginacao.getPageNumber + 1) < despesas.getTotalPages}"
                   th:href="@{/(page=${paginacao.getPageNumber + 1})}">Próxima</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:href="@{/(page=${despesas.getTotalPages - 1})}">Última</a>
            </li>
        </ul>
    </nav>

</div>

</body>
</html>
